.main {
    display: flex;
    width: 100vw;
    min-height: 100vh;

}

/* left */
.main .Leftbar {
    min-width: 300px;
    position: fixed;
    left: 0;
    min-height: 100vh;

}

.main .Leftbar .leftBarTab {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.main .task-container {
    width: 100%;
    margin-left: 300px;
}

@media (max-width:900px) {
    .main .Leftbar {
        min-width: 250px;

        position: absolute;
        transform: translateX(-100%);
        background-color: white;
        z-index: 2;
        transition: all 1s;
    }

    .main .showLeftbar {
        transform: translateX(-0%);
    }

    .main .task-container {
        margin-left: 0px;
    }
}

/*
@media (max-width:600px) {
    .nav_left {
        height: 60px;
    }
} */